body{
  font-family: $font-base;
}
.nav__section{
  height: 90vh;
}
.login__image{
  background-image: url("./../../assets/header__img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login__container{
  display: flex;
  justify-content: flex-end;
  margin: 5% 15% 0 0;

  .login__container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: $color-grey;
    padding: 4px 7px;
    border:0.75px solid transparent;
    &:hover{
      border: 1px solid $color-yellow;
    }
  }
  .login__container-register{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
    color: $color-grey;
    height: 36px;
    padding: 4px 7px;
    border:0.75px solid transparent;
    &:hover{
      border: 1px solid $color-yellow;
    }
  }
}

.main__nav{
  margin-top: 30px;

  .main__nav-list{
    display: flex;

    .main__nav-item{
      margin-right: 30px;
      color: $color-darkgrey;
      font-size: 18px;
      border:0.75px solid transparent;
      padding: 4px 7px;
      cursor: pointer;
      text-decoration: none;
     &:hover{
       border:0.75px solid $color-darkgrey;
     }
    }
  }
}

.content__box{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content__box-header{
    text-align: center;
    font-size: 38px;
    color: $color-darkgrey;
    margin: 20px 0;
    line-height: 1.4;
  }
  .content__box-buttons{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content__box-link{
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 36px;
      color: $color-darkgrey;
      text-align: center;
      padding: 13px 51px;
      border: 0.75px solid $color-darkgrey;
      font-weight: 300;
      margin-left: 10%;
      height: 120px;
      width: 300px;
      line-height: 1.2;
    }
  }
}

@media(max-width: 1600px) {
  .content__box {
    .content__box-header{
      font-size: 28px;
    }
    .content__box-buttons{
      flex-direction: column;
      .content__box-link{
        font-size: 26px;
        width: 200px;
        height: 80px;
        margin: 10px 0;
      }
    }
  }
}
@media(max-width: 1000px) {
  .login__image{
    display: none;
  }
  #body__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login__container{
    margin: 0;
  }
}
