.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
  .login__header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 1%;

  }
  .login__form{


    .login__input-wrapper{
      margin-top: 40px;
      height: 280px;
      width: 480px;
      background:#F0F1F1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .login__form-label{
        font-size: 16px;
        margin: 3% 0;

      }
      .login__form-email{
        background:#F0F1F1;
        border: none;
        border-bottom: 0.75px solid $color-darkgrey;
        font-size: 16px;
      }
      .login__form-password{
        background:#F0F1F1;
        border: none;
        border-bottom: 0.75px solid $color-darkgrey;
        font-size: 16px;
      }
    }
    .login__button-wrapper{

      .btn__register{

      }
      .btn__login-submit{

      }
    }
  }
}
.wrapper__handler{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login__button-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 10% -60px;

  align-items: center;

  .btn__register{
    font-size: 18px;
    background: white;
    cursor: pointer;
    border: 0.75px solid transparent;
    font-family: $font-base;
    font-weight: 300;
  }
  .active{
    border:0.75px solid $color-darkgrey;
    background: white;
    cursor: pointer;
    font-size: 18px;
    font-family: $font-base;
    padding: 12px 22px;
    font-weight: 300;

  }
  
}