.pagination__wrapper {
  display: flex;
  margin: 5%;
  height: 50px;

  .pagination__item {
    margin: 0 10%;

    .pagination__link {
      font-size: 18px;
      color: $font-base;
      background: white;
      cursor: pointer;
      border: 0.75px solid transparent;
      width: 40px;
      height: 50px;
    }

    .active {
      border: 0.75px solid $color-darkgrey;
      background: white;
      cursor: pointer;
      font-size: 18px;
      font-family: $font-base;
      width: 40px;
      height: 50px;
    }
  }
}

@media (max-width: 800px) {
  .pagination__wrapper {
    flex-direction: column;
    height: 200px;

    .pagination__item {
      margin: 0;
    }
  }
}