.step2__container{
  font-family: $font-base;
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 8%;

  .step2__container-counter{
    font-size: 24px;
    color: $color-darkgrey;
    font-weight: 300;

  }
  .step2__container-header{
    font-size: 36px;
    color: black;
    font-weight: 600;
    margin: 5% 0;

  }
  .step2__container-form{
    background: transparent;

    .step2__form-header{
      font-size: 24px;
      font-weight: 300;
      color: black;

    }

    .step2__buttons-container{
      margin-top: 37%;

      .step2__btn{
        font-size: 24px;
        font-weight: 300;
        border: 0.75px solid $color-darkgrey;
        padding: 18px 45px;
        background: transparent;
        font-family: $font-base;
        cursor: pointer;
        height: 80px;
        width: 180px;
        margin: 0 3%;
        &:nth-of-type(2){
          margin-left: 6%;
        }
      }
    }
  }
}
.step2__form-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}